<p>Olá, <strong>{{ student }}</strong>, sua matricula para o plano <strong>{{ plan }}</strong>, registrada para a data <strong>{{ startDate }}</strong> com previsão de termino para o dia <strong>{{ endDate }}</strong>, foi cancelada hoje, dia <strong>{{ date }}</strong></p>
<br />
<p>Agradeçemos sua compreesnsão</p>
