<p>Olá, <strong>{{ student }}</strong></p>

<p>Você foi inscrito no plano <strong>{{ plan }}</strong>, com duração de <strong>{{ duration }}</strong> meses. Com finalização na data <strong>{{ endDate }}</strong>, valor total de R$<strong>{{ totalValue }},00</strong>, em <strong>{{ duration }}</strong>x sem juros</p>

<p>Obrigado!</p>
